<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.razorfish.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>PRES</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 [FPO: Some Company]. All rights reserved.</string>
	<key>Package Description</key>
	<dict>
		<key>Title</key>
		<string>MY_EN_ATACAND_P_ATACANDPlus</string>
		<key>Brand Name</key>
		<string>ATACAND</string>
		<key>Language</key>
		<string>English</string>
		<key>Expiration Date</key>
		<string>2013-12-31</string>
		<key>Deployment Status</key>
		<string>Production</string>
		<key>Dependencies</key>
		<array/>
	</dict>
</dict>
</plist>
