<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Supported Orientations</key>
	<dict>
		<key>Landscape Left</key>
		<true/>
		<key>Landscape Right</key>
		<true/>
		<key>Portrait</key>
		<false/>
		<key>Portrait Upside Down</key>
		<false/>
	</dict>
	<key>Menu</key>
	<dict>
		<key>AssetID</key>
		<string>Revised_Menu</string>
	</dict>
	<key>ActiveCall</key>
	<array>
		<string>Landing</string>
		<string>CVContinuum</string>
		<string>Hypertension::HypertensionL</string>
		<string>HeartFailure::HeartFailureL</string>
		<string>Summary</string>
		<string>ModeOfAction::Medicine</string>
		<string>Affinity::BindingSites1</string>
	</array>
	<key>Slides</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Landing</string>
			<key>URL</key>
			<string>Page1/index.html</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>CVContinuum</string>
			<key>URL</key>
			<string>Page2_1/index.html</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Hypertension</string>
			<key>Subcontent</key>
			<array>
				<dict>
					<key>Title</key>
					<string>HypertensionL</string>
					<key>URL</key>
					<string>Page2_2/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>HypertensionPopUp1</string>
					<key>URL</key>
					<string>Page2_2_1/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>HypertensionPopUp2</string>
					<key>URL</key>
					<string>Page2_2_2/index.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>HeartFailure</string>
			<key>Subcontent</key>
			<array>
				<dict>
					<key>Title</key>
					<string>HeartFailureL</string>
					<key>URL</key>
					<string>Page2_3/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>HypertensionPopUp</string>
					<key>URL</key>
					<string>Page2_3_1/index.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Summary</string>
			<key>URL</key>
			<string>Page2_4/index.html</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>ModeOfAction</string>
			<key>Subcontent</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Medicine</string>
					<key>URL</key>
					<string>Page3_1/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Videos</string>
					<key>URL</key>
					<string>Page3_2/index.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Affinity</string>
			<key>Subcontent</key>
			<array>
				<dict>
					<key>Title</key>
					<string>BindingSites1</string>
					<key>URL</key>
					<string>Page4_1/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>BindingSites2</string>
					<key>URL</key>
					<string>Page4_2/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Graph</string>
					<key>URL</key>
					<string>Page5/index.html</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
